@using TranslateTool.Shared.Data.Stationeers
@if (!Localizations[MyLanguage].isFileLoaded)
{
    <FluentInputFile
        Id="translate-upload"
        @ref="@Localizations[MyLanguage].myFileByStream"
        Class="h-[300px]"
        Mode="InputFileMode.Stream"
        Multiple="false"
        MaximumFileSize="@(20 * 1024 * 1024)"
        Accept=".xml"
        OnFileUploaded="@OnFileUploadedAsync"
        OnCompleted="@OnCompleted">
        <ChildContent>
            <label for="translate-upload">
                <FluentIcon Value="@(new @Icons.Regular.Size24.ArrowUpload())" />
            </label>

            <div>
                Drag file here you wish to upload,
                or <label for="translate-upload">browse</label>
                for them<span style="color: red;">*</span>.
            </div>

            <div>
                <br />
                <p>Support XML file</p>
            </div>
        </ChildContent>
    </FluentInputFile>
}
else
{
    <h1 class="dark:text-white">@MyLanguage</h1>
    <FluentButton Color="red" @onclick="() => { Localizations[MyLanguage] = new(); StateHasChanged(); }">Reset</FluentButton>
    <FluentButton Color="goldenrod" @onclick="StateHasChanged">Refresh UI</FluentButton>
    <FluentButton @onclick="() => { Localizations[MyLanguage]._hideCounts = !Localizations[MyLanguage]._hideCounts; }">
        @(Localizations[MyLanguage]._hideCounts ? "Show" : "Hide") counter
    </FluentButton>
    @if (!String.IsNullOrWhiteSpace(AppState.MainLocalization) && AppState.MainLocalization != MyLanguage)
    {
        <FluentButton @onclick="TrimUnusedValues">
            Trim unused
        </FluentButton>
        <FluentButton @onclick="() => { Localizations[MyLanguage]._hideTranslated = !Localizations[MyLanguage]._hideTranslated; }">
            @(Localizations[MyLanguage]._hideTranslated ? "Show" : "Hide") translated
        </FluentButton>
        <FluentButton @onclick="() => { Localizations[MyLanguage]._hideEmpty = !Localizations[MyLanguage]._hideEmpty; }">
            @(Localizations[MyLanguage]._hideEmpty ? "Show" : "Hide") empty
        </FluentButton>
    }
    <FluentButton @onclick="() => AppState.MainLocalization = MyLanguage">
        @(AppState.MainLocalization == MyLanguage ? "Already main" : "Make as main")
    </FluentButton>
    <FluentButton @onclick="Save">
        Save
    </FluentButton>
    @if (Localizations[MyLanguage].isFileLoaded && !Localizations[MyLanguage]._hideCounts)
    {
        <table>
            <thead>
            <tr>
                <th class="dark:text-white">Name</th>
                <th class="dark:text-white">Count</th>
            </tr>
            <tr>
                @foreach (var g in Localizations[MyLanguage].records)
                {
                    <tr>
                        <td class="dark:text-white">@g.Key</td>
                        <td class="dark:text-white">@g.Value.Count</td>
                    </tr>
                }
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    }
    <div desc="Groups">
        @foreach (var group in Localizations[MyLanguage].records)
        {
            <div class="flex">
                <FluentButton @onclick="() => { Localizations[MyLanguage]._hideGroups[group.Key] = !Localizations[MyLanguage]._hideGroups[group.Key]; }">
                    @(Localizations[MyLanguage]._hideGroups[group.Key] ? "+" : "-")
                </FluentButton>
                <h3 class="dark:text-white">@group.Key: @Localizations[MyLanguage].records[group.Key].Count</h3>
            </div>
            <div desc="@group.Key">
                @if (!Localizations[MyLanguage]._hideGroups[group.Key])
                {
                    <ul>
                        @foreach (var word in group.Value)
                        {
                            @if (CanShowRow(group, word))
                            {
                                <li>
                                    <button @onclick="() => SelectWord(group.Key, word.Key)" data-modal-target="word-modal" data-modal-toggle="word-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                                        Select
                                    </button>
                                    <p class="dark:text-white">@word.Key:</p>
                                    <textarea class="dark:text-white" @bind="word.Value.Value" style="@SharedFunctions.GetIsSavedStateStyle(word.Value, 0)" placeholder="Value" alt="Value"></textarea>
                                    @if (word.Value.Description is not null && group.Key == "Things")
                                    {
                                        <textarea class="dark:text-white" @bind="word.Value.Description" style="@SharedFunctions.GetIsSavedStateStyle(word.Value, 2)" placeholder="Description"></textarea>
                                    }
                                    else if (group.Key == "Things")
                                    {
                                        <button class="dark:text-white" @onclick="() => { word.Value.Description = string.Empty; }">add desc.</button>
                                    }
                                    @if (word.Value.Unit is not null && group.Key == "Reagents")
                                    {
                                        <textarea class="dark:text-white" @bind="word.Value.Unit" style="@SharedFunctions.GetIsSavedStateStyle(word.Value, 1)" placeholder="Unit"></textarea>
                                    }
                                    else if (group.Key == "Reagents")
                                    {
                                        <button class="dark:text-white" @onclick="() => { word.Value.Unit = string.Empty; }">add unit</button>
                                    }
                                </li>
                            }
                        }
                    </ul>
                }
            </div>
        }
    </div>
}