@using TranslateTool.Shared.Data.Stationeers

<div id="word-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    @AppState.SelectedWord.Word
                </h3>
                <button @onclick="Close" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="word-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                @if (AppState.SelectedWord.Group is not null && AppState.SelectedWord.Word is not null)
                {
                    <div class="grid grid-cols-3 gap-4">
                        @foreach (var lang in Localizations)
                        {
                            var word = lang.Value.records[AppState.SelectedWord.Group][AppState.SelectedWord.Word];
                            <div>
                                <p class="dark:text-white">@lang.Key</p>
                                
                                <textarea class="dark:text-white" @bind="word.Value" style="@SharedFunctions.GetIsSavedStateStyle(word, 0)" placeholder="Value" alt="Value"></textarea>
                                @if (word.Description is not null && AppState.SelectedWord.Group == "Things")
                                {
                                    <textarea class="dark:text-white" @bind="word.Description" style="@SharedFunctions.GetIsSavedStateStyle(word, 2)" placeholder="Description"></textarea>
                                }
                                else if (AppState.SelectedWord.Group == "Things")
                                {
                                    <button class="dark:text-white" @onclick="() => { word.Description = string.Empty; }">add desc.</button>
                                }
                                @if (word.Unit is not null && AppState.SelectedWord.Group == "Reagents")
                                {
                                    <textarea class="dark:text-white" @bind="word.Unit" style="@SharedFunctions.GetIsSavedStateStyle(word, 1)" placeholder="Unit"></textarea>
                                }
                                else if (AppState.SelectedWord.Group == "Reagents")
                                {
                                    <button class="dark:text-white" @onclick="() => { word.Unit = string.Empty; }">add unit</button>
                                }
                            </div>
                        }
                    </div>
                }
                else
                {
                    <h1 class="dark:text-white">If you see it - <a class="dark:text-white" href="https://github.com/vse3211/translate-tool/issues">report</a> pls</h1>
                    <div>
                        <p class="dark:text-white">Report data:</p>
                        <p class="dark:text-white">START REPORT</p>
                        <p class="dark:text-white">Last actions: {PLS COMPLETE THIS SECTION BEFORE SEND ISSUE}</p>
                        <p class="dark:text-white">----------------------</p>
                        <p class="dark:text-white">Stationeers/Word.razor</p>
                        <p class="dark:text-white">Group: @AppState.SelectedWord.Group</p>
                        <p class="dark:text-white">Word: @AppState.SelectedWord.Word</p>
                        <p class="dark:text-white">END OF REPORT</p>
                    </div>
                    <h3 class="dark:text-white">You can try</h3>
                    <FluentButton @onclick="StateHasChanged">Refresh UI</FluentButton>
                }
            </div>
        </div>
        <!-- Modal footer -->
        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
            <p class="dark:text-white">Warning! Refresh UI manually on all changed modules after close this window pls</p>
            <p class="dark:text-white">I fix it later...</p>
        </div>
    </div>
</div>