@page "/Stationeers"
<h3>Stationeers</h3>

@if (!isFileLoaded)
{
    <FluentInputFile @ref="@myFileByStream"
                     AnchorId="MyUploadStream"
                     DragDropZoneVisible="false"
                     Mode="InputFileMode.Stream"
                     Multiple="true"
                     MaximumFileSize="@(20 * 1024 * 1024)"
                     Accept=".xml"
                     OnFileUploaded="@OnFileUploadedAsync"
                     OnCompleted="@OnCompleted" />
    <FluentButton Appearance="Appearance.Accent" Id="MyUploadStream">
        Upload files
    </FluentButton>
}
else
{
    <h1>Upload completed</h1>
    <button @onclick="() => { isFileLoaded = false; StateHasChanged(); }">Reset</button>
    @if (translateFile is not null && isFileLoaded)
    {
        <p>Name, JSON count, XML count</p>
        <ul>
            <li>Reagents @translateFile.Language.Reagents.RecordReagent.Count @records["Reagents"].Count</li>
            <li>Gases @translateFile.Language.Gases.Record.Count @records["Gases"].Count</li>
            <li>Actions @translateFile.Language.Actions.Record.Count @records["Actions"].Count</li>
            <li>Things @translateFile.Language.Things.RecordThing.Count @records["Things"].Count</li>
            <li>Slots @translateFile.Language.Slots.Record.Count @records["Slots"].Count</li>
            <li>Interactables @translateFile.Language.Interactables.Record.Count @records["Interactables"].Count</li>
            <li>Interface @translateFile.Language.Interface.Record.Count @records["Interface"].Count</li>
            <li>Colors @translateFile.Language.Colors.Record.Count @records["Colors"].Count</li>
            <li>Keys @translateFile.Language.Keys.Record.Count @records["Keys"].Count</li>
            <li>Mineables @translateFile.Language.Mineables.Record.Count @records["Mineables"].Count</li>
            <li>GameStrings @translateFile.Language.GameStrings.Record.Count @records["GameStrings"].Count</li>
        </ul>
    }
    <div desc="Groups">
        @foreach (var group in records)
        {
            <h3>@group.Key</h3>
            <div desc="@group.Key">
                <ul>
                    @foreach (var val in group.Value)
                    {
                        <li>
                            @val.Key:
                            <input value="@val.Value.Value" placeholder="Value" alt="Value"/>
                            @if (val.Value.Description is not null && group.Key == "Things")
                            {
                                <input value="@val.Value.Description" placeholder="Description"/>
                            }
                            else if (group.Key == "Things")
                            {
                                <button @onclick="() => { val.Value.Description = string.Empty; }">add desc.</button>
                            }
                            @if (val.Value.Unit is not null && group.Key == "Reagents")
                            {
                                <input value="@val.Value.Unit" placeholder="Unit"/>
                            }
                            else if (group.Key == "Reagents")
                            {
                                <button @onclick="() => { val.Value.Unit = string.Empty; }">add unit</button>
                            }
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
}